.image_main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 226);
    width: inherit;
    height: 76vh;
    overflow-x: auto;
    overflow-y: auto;
    justify-content: space-around;
    align-items: center;
}


